name: 'Drift Detection'
on:
  schedule:
    - cron: '*/45 * * * *'
jobs:
  detect_drift:
    uses: ./.github/workflows/plan.yml
    permissions:
      contents: read
      pull-requests: write
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}