name: 20 SCA

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - develop
  schedule:
    # Mondays at 0000 UTC
    - cron: "0 0 * * 1"

jobs:
  check-for-vulnerabilities:
    name: Check for vulnerabilities using `govulncheck`
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
    steps:
      - uses: actions/checkout@v5

      - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        continue-on-error: false
        with:
          # NOTE that we want to produce the SARIF-formatted report, which can then be consumed by other tools ...
          output-format: sarif
          output-file: govulncheck.sarif
          cache: false  # Disable caching to avoid cache service errors

      # ... such as the Code Scanning tab
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: govulncheck.sarif
          category: govulncheck