name: SCA for Go Application
on:
  workflow_dispatch:
  workflow_call:
jobs:
  sca:
    runs-on: ubuntu-latest
    name: SCA
    steps:
      - name: Checkout action
        uses: actions/checkout@v5
        
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.2'  
          cache: true
      
      - name: Install dependencies
        run: go get .
          
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SYNK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
          
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: snyk.sarif
          
      - name: Run Snyk to monitor
        uses: snyk/actions/golang@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SYNK_TOKEN }}
        with:
          command: monitor