name: SCA for Go Application
on:
  workflow_dispatch:
  workflow_call:
jobs:
  sca:
    runs-on: ubuntu-20.04
    name: SCA Go project
    steps:
      - name: Checkout action
        uses: actions/checkout@v5
        
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.2'  
          cache: true
          
      - name: Install SCA tool (CRDA)
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          source: github
          github_pat: ${{ github.token }}
          crda: "latest"
          
      - name: SCA (CRDA) Scan
        id: scan
        uses: redhat-actions/crda@v1
        with:
          manifest_file: go.mod  # Use go.mod for Go projects
          snyk_token: ${{ secrets.OUR_SNYK_KEY }}
          fail_on: never
          
      - name: Print JSON analysis report
        if: ${{ always() && steps.scan.outputs.crda_report_json }}
        run: cat ${{ steps.scan.outputs.crda_report_json }}
        
      - name: Print SARIF analysis report
        if: ${{ always() && steps.scan.outputs.crda_report_sarif }}
        run: cat ${{ steps.scan.outputs.crda_report_sarif }}
        
      - name: Print Report Link
        run: echo ${{ steps.scan.outputs.report_link }}
        
      - name: Print Artifact Name
        run: echo ${{ steps.scan.outputs.artifact_name }}